.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.navbar {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content-background {
  background: #40E0D0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  

.banner-text {
  background-color: black;
  opacity: .7;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 60px;
  font-weight: bold;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  color: white;
}

.banner-text p {
  padding-top: 1em;
  font-size: 20px;
}

.social-links {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 50%;
}
.social-links i {
  font-size: 4em;
  padding: 8px;
}

.contact-body {
  padding: 2em;
}

.contact-container {
  padding-top: 2em;
  padding-bottom: 2em;
  justify-content: center;
  width: 90%;
  color: black;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #aaa;
}

.contact-container hr {
  border-top: 5px dotted black;
  width: 50%;
  color: black;
}

.material-design {
  font-size: 20px;
  color: black;
}

.material-props {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
  color: grey;
  font-weight: bold;
}

.project-card {
  padding: 2em;
}